<a href="https://colab.research.google.com/github/bmz2503/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Class Assignment 9/2

In [ ]:
sales = float(input("Enter Sales ($): "))
cog = 0.4
cog_sold = sales * cog
print(f'Cog sold: ${cog_sold}')
gross_profit = sales - (cog * Sales)
print(f'Gross profit: ${gross_profit}')


tax_rate = float(input('Enter Tax Rate: '))
taxes = gross_profit * tax_rate
print(f"Taxes: ${taxes}")

Net_Income = gross_profit - taxes
print(f"Net Income:{Net_Income}" )

Enter Sales ($): 12000
Cog sold: $4800.0
Gross profit: $7200.0
Enter Tax Rate: .30
Taxes: $2160.0
Net Income:5040.0

**In Class Assignement 9/4: Inventory Management**

In [ ]:
# Define inputs
D = int(input("Enter Annual Demand (units/year):"))
S = float(input("Enter Reorder Cost ($/unit):"))
H = float(input("Enter Holding Cost ($/unit/year):"))

# process Calulate EOQ
EOQ = float(((2*D*S/H)**.5))

# Output: Display EOQ Value
print(f"Economic order Quantity = {EOQ} units")

Enter Annual Demand (units/year):100
Enter Reorder Cost ($/unit):1.5
Enter Holding Cost ($/unit/year):3
Economic order Quantity = 10.0 units

**In Class Assignment 9/11: Numerical Calculator**

In [ ]:
X = float(input('Enter 1st Number:'))
Y = float(input('Enter 2nd Number: '))
OP = input('Choose numerical operator (+,-,*,/,//,**,%):')

if OP == '+':
  print(X + Y)
if OP == '-':
  print(X - Y)
if OP == '*':
  print(X * Y)
if OP == '/':
  print(X / Y)
if OP == '//':
  print(X // Y)
if OP == '**':
  print( X ** Y)
else:
  print('Invalid Operator')

**In Class Assignment 9/16:**

In [ ]:
print('# of Hours\tFee')
for hours in range(1,9):
  fee = 5 + hours * 2.5
  if fee < 10:
    fee = 10.0
    print(f"{hours}\t\t{fee}")
  elif fee > 20:
    fee = 20.0
    print(f"{hours}\t\t{fee}")
  else:
    print(f"{hours}\t\t{fee}")

# of Hours	Fee
1		10.0
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		20.0
8		20.0

**In Class Assignment 9/18:**

In [ ]:
for adCost in range(0,201,25):

  AA = 2*((adCost)**(.5))
  Profit = ((AA+20)*10) - 200 - adCost

  print(f'{adCost}\t\t{round(Profit)}')

0		0
25		75
50		91
75		98
100		100
125		99
150		95
175		90
200		83

**In Class Assignment Append Items to list 9/25:**

In [14]:
L=[]
X = int(input("Input Numerical Value:"))
while int(X) != 0:
  L.append(X)
  X = int(input("Input Another Numerical Value:"))
(L.sort(reverse=True))
print(L)

Input Numerical Value:7
Input Another Numerical Value:2
Input Another Numerical Value:8
Input Another Numerical Value:5
Input Another Numerical Value:1
Input Another Numerical Value:0
[8, 7, 5, 2, 1]

In [15]:
max(L)

8

In [16]:
min(L)

1

In [17]:
sum(L)/len(L)

4.6