<a href="https://colab.research.google.com/github/bmz2503/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Class Assignment 9/2

In [ ]:
sales = float(input("Enter Sales ($): "))
cog = 0.4
cog_sold = sales * cog
print(f'Cog sold: ${cog_sold}')
gross_profit = sales - (cog * Sales)
print(f'Gross profit: ${gross_profit}')


tax_rate = float(input('Enter Tax Rate: '))
taxes = gross_profit * tax_rate
print(f"Taxes: ${taxes}")

Net_Income = gross_profit - taxes
print(f"Net Income:{Net_Income}" )

Enter Sales ($): 12000
Cog sold: $4800.0
Gross profit: $7200.0
Enter Tax Rate: .30
Taxes: $2160.0
Net Income:5040.0

**In Class Assignement 9/4: Inventory Management**

In [ ]:
# Define inputs
D = int(input("Enter Annual Demand (units/year):"))
S = float(input("Enter Reorder Cost ($/unit):"))
H = float(input("Enter Holding Cost ($/unit/year):"))

# process Calulate EOQ
EOQ = float(((2*D*S/H)**.5))

# Output: Display EOQ Value
print(f"Economic order Quantity = {EOQ} units")

Enter Annual Demand (units/year):100
Enter Reorder Cost ($/unit):1.5
Enter Holding Cost ($/unit/year):3
Economic order Quantity = 10.0 units

**In Class Assignment 9/11: Numerical Calculator**

In [ ]:
X = float(input('Enter 1st Number:'))
Y = float(input('Enter 2nd Number: '))
OP = input('Choose numerical operator (+,-,*,/,//,**,%):')

if OP == '+':
  print(X + Y)
if OP == '-':
  print(X - Y)
if OP == '*':
  print(X * Y)
if OP == '/':
  print(X / Y)
if OP == '//':
  print(X // Y)
if OP == '**':
  print( X ** Y)
else:
  print('Invalid Operator')

**In Class Assignment 9/16:**

In [ ]:
print('# of Hours\tFee')
for hours in range(1,9):
  fee = 5 + hours * 2.5
  if fee < 10:
    fee = 10.0
    print(f"{hours}\t\t{fee}")
  elif fee > 20:
    fee = 20.0
    print(f"{hours}\t\t{fee}")
  else:
    print(f"{hours}\t\t{fee}")

# of Hours	Fee
1		10.0
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		20.0
8		20.0

**In Class Assignment 9/18:**

In [ ]:
for adCost in range(0,201,25):

  AA = 2*((adCost)**(.5))
  Profit = ((AA+20)*10) - 200 - adCost

  print(f'{adCost}\t\t{round(Profit)}')

0		0
25		75
50		91
75		98
100		100
125		99
150		95
175		90
200		83

**In Class Assignment Append Items to list 9/25:**

In [ ]:
L=[]
X = int(input("Input Numerical Value:"))
while int(X) != 0:
  L.append(X)
  X = int(input("Input Another Numerical Value:"))
(L.sort(reverse=True))
print(L)

Input Numerical Value:7
Input Another Numerical Value:2
Input Another Numerical Value:8
Input Another Numerical Value:5
Input Another Numerical Value:1
Input Another Numerical Value:0
[8, 7, 5, 2, 1]

In [ ]:
max(L)

8

In [ ]:
min(L)

1

In [ ]:
sum(L)/len(L)

4.6

**In Class Assignment Rock Paper Scissors (while loops)**

In [ ]:
import random

# Possible choices
options = ["rock", "paper", "scissors"]

print("Welcome to Rock, Paper, Scissors!")

# Ask the user if they want to play
play = input("Do you want to play? (yes/no): ").lower()

while play == "yes":
    # Get user choice
    user = input("Choose rock, paper, or scissors: ").lower()

    if user not in options:
        print("Invalid choice. Please try again.")
        continue  # go back to start of loop

    # Computer makes a random choice
    computer = random.choice(options)
    print(f"The computer chose: {computer}")

    # Determine winner
    if user == computer:
        print("It's a tie!")
    elif (user == "rock" and computer == "scissors") or \
         (user == "scissors" and computer == "paper") or \
         (user == "paper" and computer == "rock"):
        print("You win!")
    else:
        print("Computer wins!")

    # Ask again if they want to play
    play = input("Do you want to play again? (yes/no): ").lower()

print("Thanks for playing!")

Welcome to Rock, Paper, Scissors!
Do you want to play? (yes/no): yes
Choose rock, paper, or scissors: rock
The computer chose: scissors
You win!
Do you want to play again? (yes/no): yes
Choose rock, paper, or scissors: rock
The computer chose: paper
Computer wins!
Do you want to play again? (yes/no): no
Thanks for playing!

**In Class Assignment 10/2**

In [20]:
Product = {
    'P-01': 9.95,
    'P-02': 10.50
    }

id = input("Enter product ID: ")


if id in Product:
  print(Product[id])
else:
  print('not found')

Enter product ID: 3
not found

In [ ]:
names = {}

for i in range(5):
  Name = input('Enter a Name: ')
  if Name in names:
    names[Name] = names[Name] + 1
  else:
    names[Name] = 1

  Print(names)